In [1]:
import pandas as pd
import numpy as np

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [2]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [3]:
from sklearn.utils import resample
df_up = resample(df_minority,replace=True,n_samples=len(df_majority),
         random_state=42)

In [4]:
df_up

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[900 rows x 3 columns]

In [5]:
new_df = pd.concat([df_up,df_majority])

In [6]:
new_df['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64

In [7]:
import pandas as pd
import numpy as np

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [15]:
max = df[df['target']==0]
min = df[df['target']==1]
from sklearn.utils import resample

new = resample(min,replace=True,n_samples=len(max),random_state=42)
new_df11 = pd.concat([max,new]).reset_index(drop=True)
new_df11['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [17]:
new_min = resample(max,replace=True,n_samples=len(min),random_state=42)
new_df12 = pd.concat([new_min,min])
new_df12['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64