# SQLite

## connect to a data base

In [1]:
import sqlite3 as sql

In [2]:

con = sql.connect('example.db')
con

## create a cursor

In [3]:
cursor = con.cursor()


## Create a table (example)

In [4]:
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
    id INTEGER,
    name TEXT,
    age INTEGER
)''')
con.commit()

In [5]:
cursor.execute('''
Select * from users
''')

## insert value

In [6]:
cursor.execute('''
Insert into users(id,name,age)
values(123,'subho',19)
''')
cursor.execute('''
Insert into users(id,name,age)
values(1232,'abc',19)
''')
cursor.execute('''
Insert into users(id,name,age)
values(121,'ankit',20)
''')
cursor.execute('''
Insert into users(id,name,age)
values(113,'athar',20)
''')
cursor.execute('''
Insert into users(id,name,age)
values(103,'hello',19)
''')
con.commit()

### update data in a table

In [7]:
cursor.execute('''
Update users
set age = 20
where name = "subho"
               ''')
con.commit()

### query data form the table

In [8]:
cursor.execute('Select * from users')
rows = cursor.fetchall()
for row in rows:
    print(row)

(123, 'subho', 20)
(121, 'ankit', 20)
(113, 'athar', 20)
(103, 'hello', 19)
(123, 'subho', 20)
(121, 'ankit', 20)
(113, 'athar', 20)
(103, 'hello', 19)
(123, 'subho', 20)
(121, 'ankit', 20)
(113, 'athar', 20)
(103, 'hello', 19)
(123, 'subho', 20)
(121, 'ankit', 20)
(113, 'athar', 20)
(103, 'hello', 19)
(123, 'subho', 20)
(1232, 'abc', 19)
(121, 'ankit', 20)
(113, 'athar', 20)
(103, 'hello', 19)

### delete data from table

In [9]:
cursor.execute('''
Delete from users
where name='abc'
               ''')
con.commit()

cursor.execute('Select * from users')
rows = cursor.fetchall()
rows

[(123, 'subho', 20),
 (121, 'ankit', 20),
 (113, 'athar', 20),
 (103, 'hello', 19),
 (123, 'subho', 20),
 (121, 'ankit', 20),
 (113, 'athar', 20),
 (103, 'hello', 19),
 (123, 'subho', 20),
 (121, 'ankit', 20),
 (113, 'athar', 20),
 (103, 'hello', 19),
 (123, 'subho', 20),
 (121, 'ankit', 20),
 (113, 'athar', 20),
 (103, 'hello', 19),
 (123, 'subho', 20),
 (121, 'ankit', 20),
 (113, 'athar', 20),
 (103, 'hello', 19)]

### mini project

In [10]:
import sqlite3 as sql

conn = sql.connect('sale.db')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS sale(
    id INTEGER,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

conn.commit()