In [1]:
from sklearn.datasets import make_classification
X,y=make_classification(n_samples=1000,n_redundant=0,n_features=2,n_clusters_per_class=1,
                   weights=[0.90],random_state=12)
X,y=make_classification(n_samples=1000,n_redundant=0,n_features=2,n_clusters_per_class=1,
                   weights=[0.90],random_state=12)
import pandas as pd
df1=pd.DataFrame(X,columns=['f1','f2'])
df2=pd.DataFrame(y,columns=['target'])
final_df=pd.concat([df1,df2],axis=1)
final_df.head()

         f1        f2  target
0 -0.762898 -0.706808       0
1 -1.075436 -1.051162       0
2 -0.610115 -0.909802       0
3 -2.023284 -0.428945       1
4 -0.812921 -1.316206       0