# data analise and manipulation with python

In [22]:
pip install pandas

Requirement already satisfied: pandas in /Users/apple/AI_ML/venv/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/apple/AI_ML/venv/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/apple/AI_ML/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/apple/AI_ML/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/apple/AI_ML/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/apple/AI_ML/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
df = pd.read_csv('student.csv')
df.head(5)      # it return first 5

,Product_ID,Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
0,P001,Laptop,Electronics,70000.0,50.0,Supplier A,70000.00,140000.0
1,P002,Smartphone,Electronics,25000.0,100.0,Supplier B,25000.00,50000.0
2,P003,Tablet,Electronics,18000.0,NaN,Supplier C,18000.00,36000.0
3,P004,Monitor,Accessories,12000.0,70.0,NaN,12000.00,24000.0
4,P005,Keyboard,Accessories,NaN,120.0,Supplier D,12718.75,NaN

In [ ]:
df.tail(5)              # it return first 5

,Product_ID,Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
15,P016,SSD 1TB,Electronics,6500.0,75.0,NaN,6500.00,13000.0
16,P017,HDD 2TB,Electronics,5000.0,60.0,Supplier M,5000.00,10000.0
17,P018,Graphics Card,Electronics,NaN,20.0,Supplier N,12718.75,NaN
18,P019,Motherboard,Electronics,8500.0,NaN,Supplier O,8500.00,17000.0
19,P020,Power Supply,Electronics,4000.0,90.0,NaN,4000.00,8000.0

In [25]:
df.describe()           # it return all statitic value

              Price  Stock_Quantity  prise_missing      New_Price
count     16.000000       16.000000      20.000000      16.000000
mean   12718.750000       99.687500   12718.750000   25437.500000
std    17992.488016       75.618974   15986.745126   35984.976032
min      900.000000       20.000000     900.000000    1800.000000
25%     2875.000000       47.500000    3300.000000    5750.000000
50%     5500.000000       80.000000    7500.000000   11000.000000
75%    13500.000000      127.500000   12718.750000   27000.000000
max    70000.000000      300.000000   70000.000000  140000.000000

# handle missing value

In [ ]:
df.isnull()             # it chack any value are missing of not

,Product_ID,Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False
3,False,False,False,False,False,True,False,False
4,False,False,False,True,False,False,False,True
5,False,False,False,False,False,False,False,False
6,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,True,False,False
9,False,False,False,True,False,False,False,True
10,False,False,False,False,False,False,False,False
11,False,False,False,False,True,False,False,False
12,False,False,False,False,False,True,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,True,False,False,False,True
15,False,False,False,False,False,True,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,True,False,False,False,True
18,False,False,False,False,True,False,False,False
19,False,False,False,False,False,True,False,False

## fill the missing value

In [27]:
df.fillna(0)            # where the value is missing it fill with 0

,Product_ID,Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
0,P001,Laptop,Electronics,70000.0,50.0,Supplier A,70000.00,140000.0
1,P002,Smartphone,Electronics,25000.0,100.0,Supplier B,25000.00,50000.0
2,P003,Tablet,Electronics,18000.0,0.0,Supplier C,18000.00,36000.0
3,P004,Monitor,Accessories,12000.0,70.0,0,12000.00,24000.0
4,P005,Keyboard,Accessories,0.0,120.0,Supplier D,12718.75,0.0
5,P006,Mouse,Accessories,1500.0,200.0,Supplier E,1500.00,3000.0
6,P007,Headphones,Accessories,3000.0,0.0,Supplier F,3000.00,6000.0
7,P008,Webcam,Accessories,2500.0,85.0,Supplier G,2500.00,5000.0
8,P009,Printer,Accessories,6000.0,40.0,0,6000.00,12000.0
9,P010,Scanner,Accessories,0.0,25.0,Supplier H,12718.75,0.0
10,P011,Speaker,Accessories,2200.0,150.0,Supplier I,2200.00,4400.0
11,P012,Router,Electronics,3400.0,0.0,Supplier J,3400.00,6800.0
12,P013,Projector,Electronics,35000.0,30.0,0,35000.00,70000.0
13,P014,USB Hub,Accessories,900.0,300.0,Supplier K,900.00,1800.0
14,P015,Charger,Accessories,0.0,180.0,Supplier L,12718.75,0.0
15,P016,SSD 1TB,Electronics,6500.0,75.0,0,6500.00,13000.0
16,P017,HDD 2TB,Electronics,5000.0,60.0,Supplier M,5000.00,10000.0
17,P018,Graphics Card,Electronics,0.0,20.0,Supplier N,12718.75,0.0
18,P019,Motherboard,Electronics,8500.0,0.0,Supplier O,8500.00,17000.0
19,P020,Power Supply,Electronics,4000.0,90.0,0,4000.00,8000.0

### fill value by mean

In [ ]:
df = pd.read_csv('student.csv')
df.isnull().any()

Product_ID        False
Name              False
Category          False
Price              True
Stock_Quantity     True
Supplier           True
prise_missing     False
New_Price          True
dtype: bool

In [29]:
df['prise_missing'] = df['Price'].fillna(df['Price'].mean())
df

,Product_ID,Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
0,P001,Laptop,Electronics,70000.0,50.0,Supplier A,70000.00,140000.0
1,P002,Smartphone,Electronics,25000.0,100.0,Supplier B,25000.00,50000.0
2,P003,Tablet,Electronics,18000.0,NaN,Supplier C,18000.00,36000.0
3,P004,Monitor,Accessories,12000.0,70.0,NaN,12000.00,24000.0
4,P005,Keyboard,Accessories,NaN,120.0,Supplier D,12718.75,NaN
5,P006,Mouse,Accessories,1500.0,200.0,Supplier E,1500.00,3000.0
6,P007,Headphones,Accessories,3000.0,NaN,Supplier F,3000.00,6000.0
7,P008,Webcam,Accessories,2500.0,85.0,Supplier G,2500.00,5000.0
8,P009,Printer,Accessories,6000.0,40.0,NaN,6000.00,12000.0
9,P010,Scanner,Accessories,NaN,25.0,Supplier H,12718.75,NaN
10,P011,Speaker,Accessories,2200.0,150.0,Supplier I,2200.00,4400.0
11,P012,Router,Electronics,3400.0,NaN,Supplier J,3400.00,6800.0
12,P013,Projector,Electronics,35000.0,30.0,NaN,35000.00,70000.0
13,P014,USB Hub,Accessories,900.0,300.0,Supplier K,900.00,1800.0
14,P015,Charger,Accessories,NaN,180.0,Supplier L,12718.75,NaN
15,P016,SSD 1TB,Electronics,6500.0,75.0,NaN,6500.00,13000.0
16,P017,HDD 2TB,Electronics,5000.0,60.0,Supplier M,5000.00,10000.0
17,P018,Graphics Card,Electronics,NaN,20.0,Supplier N,12718.75,NaN
18,P019,Motherboard,Electronics,8500.0,NaN,Supplier O,8500.00,17000.0
19,P020,Power Supply,Electronics,4000.0,90.0,NaN,4000.00,8000.0

## rename the column

In [ ]:
df = df.rename(columns={'Name':'Product_Name'})         # columns = {'real_name':'the_name_you_want_to_give'}
df

,Product_ID,Product_Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
0,P001,Laptop,Electronics,70000.0,50.0,Supplier A,70000.00,140000.0
1,P002,Smartphone,Electronics,25000.0,100.0,Supplier B,25000.00,50000.0
2,P003,Tablet,Electronics,18000.0,NaN,Supplier C,18000.00,36000.0
3,P004,Monitor,Accessories,12000.0,70.0,NaN,12000.00,24000.0
4,P005,Keyboard,Accessories,NaN,120.0,Supplier D,12718.75,NaN
5,P006,Mouse,Accessories,1500.0,200.0,Supplier E,1500.00,3000.0
6,P007,Headphones,Accessories,3000.0,NaN,Supplier F,3000.00,6000.0
7,P008,Webcam,Accessories,2500.0,85.0,Supplier G,2500.00,5000.0
8,P009,Printer,Accessories,6000.0,40.0,NaN,6000.00,12000.0
9,P010,Scanner,Accessories,NaN,25.0,Supplier H,12718.75,NaN
10,P011,Speaker,Accessories,2200.0,150.0,Supplier I,2200.00,4400.0
11,P012,Router,Electronics,3400.0,NaN,Supplier J,3400.00,6800.0
12,P013,Projector,Electronics,35000.0,30.0,NaN,35000.00,70000.0
13,P014,USB Hub,Accessories,900.0,300.0,Supplier K,900.00,1800.0
14,P015,Charger,Accessories,NaN,180.0,Supplier L,12718.75,NaN
15,P016,SSD 1TB,Electronics,6500.0,75.0,NaN,6500.00,13000.0
16,P017,HDD 2TB,Electronics,5000.0,60.0,Supplier M,5000.00,10000.0
17,P018,Graphics Card,Electronics,NaN,20.0,Supplier N,12718.75,NaN
18,P019,Motherboard,Electronics,8500.0,NaN,Supplier O,8500.00,17000.0
19,P020,Power Supply,Electronics,4000.0,90.0,NaN,4000.00,8000.0

## change the data type

In [31]:
df.dtypes

Product_ID         object
Name               object
Category           object
Price             float64
Stock_Quantity    float64
Supplier           object
prise_missing     float64
New_Price         float64
dtype: object

In [ ]:
# convart price float to object
df['Price'] = df['Price'].astype(str)
df.dtypes

Product_ID         object
Name               object
Category           object
Price              object
Stock_Quantity    float64
Supplier           object
prise_missing     float64
New_Price         float64
dtype: object

## apply function in column

In [33]:
df['Price'] = df['Price'].astype(float)
df['New_Price'] = df['Price'].apply(lambda x:x*2)
df

,Product_ID,Name,Category,Price,Stock_Quantity,Supplier,prise_missing,New_Price
0,P001,Laptop,Electronics,70000.0,50.0,Supplier A,70000.00,140000.0
1,P002,Smartphone,Electronics,25000.0,100.0,Supplier B,25000.00,50000.0
2,P003,Tablet,Electronics,18000.0,NaN,Supplier C,18000.00,36000.0
3,P004,Monitor,Accessories,12000.0,70.0,NaN,12000.00,24000.0
4,P005,Keyboard,Accessories,NaN,120.0,Supplier D,12718.75,NaN
5,P006,Mouse,Accessories,1500.0,200.0,Supplier E,1500.00,3000.0
6,P007,Headphones,Accessories,3000.0,NaN,Supplier F,3000.00,6000.0
7,P008,Webcam,Accessories,2500.0,85.0,Supplier G,2500.00,5000.0
8,P009,Printer,Accessories,6000.0,40.0,NaN,6000.00,12000.0
9,P010,Scanner,Accessories,NaN,25.0,Supplier H,12718.75,NaN
10,P011,Speaker,Accessories,2200.0,150.0,Supplier I,2200.00,4400.0
11,P012,Router,Electronics,3400.0,NaN,Supplier J,3400.00,6800.0
12,P013,Projector,Electronics,35000.0,30.0,NaN,35000.00,70000.0
13,P014,USB Hub,Accessories,900.0,300.0,Supplier K,900.00,1800.0
14,P015,Charger,Accessories,NaN,180.0,Supplier L,12718.75,NaN
15,P016,SSD 1TB,Electronics,6500.0,75.0,NaN,6500.00,13000.0
16,P017,HDD 2TB,Electronics,5000.0,60.0,Supplier M,5000.00,10000.0
17,P018,Graphics Card,Electronics,NaN,20.0,Supplier N,12718.75,NaN
18,P019,Motherboard,Electronics,8500.0,NaN,Supplier O,8500.00,17000.0
19,P020,Power Supply,Electronics,4000.0,90.0,NaN,4000.00,8000.0

## data aggregating and grouing

In [34]:
group_mean = df.groupby('Category')['Price'].mean()
group_mean

Category
Accessories     4014.285714
Electronics    19488.888889
Name: Price, dtype: float64

In [35]:
group_sum = df.groupby(['Category','Name'])['prise_missing'].sum()
group_sum

Category     Name
Accessories  Charger          12718.75
             Headphones        3000.00
             Keyboard         12718.75
             Monitor          12000.00
             Mouse             1500.00
             Printer           6000.00
             Scanner          12718.75
             Speaker           2200.00
             USB Hub            900.00
             Webcam            2500.00
Electronics  Graphics Card    12718.75
             HDD 2TB           5000.00
             Laptop           70000.00
             Motherboard       8500.00
             Power Supply      4000.00
             Projector        35000.00
             Router            3400.00
             SSD 1TB           6500.00
             Smartphone       25000.00
             Tablet           18000.00
Name: prise_missing, dtype: float64

## multiple aggregate

In [36]:
group_agg = df.groupby('Category')['prise_missing'].agg(['sum','mean','count'])
group_agg

                   sum       mean  count
Category
Accessories   66256.25   6625.625     10
Electronics  188118.75  18811.875     10

## write the new data in csv file

In [37]:
df.to_csv('student.csv',index=False)

In [38]:
df.describe().to_csv('dec.csv',index=True)

## merging and joining

In [ ]:
data1 = {
    'key':['A','B','C'],
    'value1':[1,2,3]
}

data2 = {
    'key':['A','B','F'],
    'value2':[4,5,6]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

pd.merge(df1,df2,on='key',how='inner')

  key  value1  value2
0   A       1       4
1   B       2       5

In [40]:
pd.merge(df1,df2,on='key',how='outer')

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   F     NaN     6.0

In [41]:
pd.merge(df1,df2,on='key',how='left')

  key  value1  value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

In [42]:
pd.merge(df1,df2,on='key',how='right')

  key  value1  value2
0   A     1.0       4
1   B     2.0       5
2   F     NaN       6